<nav class="pagination" role="navigation">
  {% if paginator.next_page %}
    <a rel="next" class="posts older btn small" href="{{ site.baseurl }}/page{{ paginator.next_page }}/">صفحه قبل →</a>
  {% endif %}

  <span class="pagination__page-number">صفحه {{ paginator.page}} از {{ paginator.total_pages}}</span>

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/#blog" title="Previous Page">← صفحه بعد</a>
    {% else %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">← صفحه بعد</a>
    {% endif %}
  {% endif %}
</nav>
